[Unit]
Description=Gruntwork Health Check Agent

[Service]
User=gruntwork
Group=gruntwork
ExecStart=/usr/local/bin/health_check_agent \
         --listener "0.0.0.0:{{ phc_health_check_port }}" \
         --singleflight \
         --script /usr/local/bin/health_check_script_{{ phc_chain }}.sh

[Install]
WantedBy=multi-user.target
