[Unit]
Description=Gruntwork Health Check Agent

[Service]
User=gruntwork
Group=gruntwork
ExecStart=/usr/local/bin/health_check_agent \
         --port {{ health_check_port }} \
         --singleflight \
         --script /usr/local/bin/health_check_script_{{ chain }}.sh

[Install]
WantedBy=multi-user.target
